*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(216, 12%, 8%);
    height: 100vh;
    font-family: 'overpass';
}
.box{
    background-color: hsl(213, 19%, 18%);
    inset: 0;
    margin: auto;
    position: relative;
    top: 40%;
    width: max-content;
    padding: 2.5rem;
    border-radius: 10px;
    /* display: none; */
}
.heading{
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
}
.para{
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    width: 90%;
    padding-top: 20px;

}
.ratings{
    display: flex;
    gap: 25px;
    padding-top: 20px;
}
.nos{
    background-color: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);
    border-radius: 50%;
    text-align: center;
    font-size: .8 rem;
    padding: 15px;
    cursor: pointer;
}
.nos:hover{
    background-color:hsl(25, 97%, 53%) ;
    color: hsl(213, 19%, 18%);
}

.btn{
    border: none;
    /* padding-top: 10px; */
    background-color: hsl(25, 97%, 53%);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin:20px ;
    margin-left: 0;
    width: 50%;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: hsl(0, 0%, 100%);
    font-size: 25px;
}
.selectedbox{
    background-color: hsl(213, 19%, 18%);
    inset: 0;
    margin: auto;
    position: relative;
    top: 40%;
    width: max-content;
    padding: 2.5rem;
    border-radius: 10px;
    text-align: center;
}
.hidden{
    display: none;
}
.selectedhead{
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
}
.selectedpara{
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    width: 90%;
    padding-top: 20px;
}
.selectedline{
    color: hsl(25, 97%, 53%);
    background-color:hsl(216, 12%, 8%) ;
    border-radius: 10px;
    width: max-content;
    display: inline-block;
    margin: 15px 0;
    padding: 5px 20px;
}
.unclicked{
    background-color: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);
}
.rateagain{
    border: none;
    /* padding-top: 10px; */
    background-color: hsl(25, 97%, 53%);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin:20px ;
    margin-left: 0;
    width: 50%;
    font-size: 15px;
    cursor: pointer;
}
.rateagain:hover{
    background-color: hsl(0, 0%, 100%);
    font-size: 25px;
}
.ratingstyle{
    background-color: white;
    color: black;
}